#header {
    height: 50px;
}

#logo {
    width: 50px;
    height: 50px;
    float: left;
}

#header-title {
    display: inline;
    float: left;
    margin: 10px 0 0 5px;
}


#section-body {
    width: 400px;
    height: 100px;

    position: absolute;
    top: -200px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    text-align: center;
}

#password-header {
    margin: 0 0 10px 0;
}

#auth-form > input{
    width: 390px;
    height: 40px;
    font-size: 28px;
    padding: 0 10px;
    border: 2px #6A6A6A solid;
}