.index-btn {
    background-color: #4286f4;
    border: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.3em;
}

#current-path {
    margin-bottom: 0;
}

#section-path > hr {
    margin: 0;
}

#table-files {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#table-files tr th {
    padding: 5px 0;
}

#table-files tr {
    border-bottom: 1px solid gray;
}

#table-files tr td {
    padding: 5px 0;
}